.container-table {
  display: flex;
  align-content: center;
  justify-content: center;
}
table {
  margin: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  align-content: center;
}

th {
  font-size: 20px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

td {
  font-size: 17px;
  padding: 8px;
  margin: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

input {
  text-align: center;
}
